.main {
  display: block;
  position: relative;
  padding-left: 46px;
  cursor: pointer;
  font-size: 16px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 3px solid #d0d0d2;
  border-radius: 2px;
  width: 27px;
  height: 27px;
}

.main input:checked ~ .box {
  background-color: #0198e9;
  border: 4px transparent;
}

.box:after {
  content: "";
  position: absolute;
  display: none;
}

.main input:checked ~ .box:after {
  display: block;
}

.main .box:after {
  left: 10px;
  bottom: 8px;
  width: 8px;
  height: 14px;
  border: 1px solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
