.main {
  display: block;
  position: relative;
  padding-left: 46px;
  /* margin-bottom: 15px; */
  cursor: pointer;
  font-size: 16px;
}
/* Hiding the initial checkbox */
input[type="checkbox"] {
  visibility: hidden;
}
/* Creating a custom checkbox based on demand */
.box {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 4px solid #c4c4c4;
  border-radius: 4px;
  width: 27px;
  height: 27px;
}

/* Specify the background color to be shown when checkbox is active */

/* Specify the background color to be shown when checkbox is checked */
.main input:checked ~ .box {
  background-color: #0198e9;
  border: 4px transparent;
}
/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.box:after {
  content: "";
  position: absolute;
  display: none;
}
/* Display checkmark when checked */
.main input:checked ~ .box:after {
  display: block;
}
/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
  showing only two border to make it look
  like a tickmark */
.main .box:after {
  left: 10px;
  bottom: 8px;
  width: 8px;
  height: 14px;
  border: 1px solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
